{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2344/2344132.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

<div class="container">
<h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Transaction</h1>
<br>
 <form method="post" id="update">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>
</div>
<script>
$(document).ready(function() {
  $("#update").submit(function(e) {
    e.preventDefault();
    if (validateForm()) {
      $.ajax({
        url: "",
        type: "POST",
        dataType: "json",
        data: $("#update").serialize(),
        success: function(data) {
           Swal.fire('Congrats', 'Updated Successfully','success');
           setTimeout(function() { window.close();}, 5000);
        },
        error: function(data) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
          });
          setTimeout(function() { window.close();}, 2000);
          

        }
      });
    }
  });
});
function validateForm() {
  var isValid = true;
  $("#update :input[required]").each(function() {
    if ($(this).val() === "") {
      $(this).addClass("is-invalid");
      isValid = false;
    } else {
      $(this).removeClass("is-invalid");
    }
  });
  return isValid;
}

</script>
</body>
</html>