{% extends 'base.html' %}
{% block head %}
<style>
    .form-group {
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Create Account</h3>
                </div>
                <div class="card-body">
                    <form id="create-account-form" method="post" action="{% url 'account_create' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#create-account-form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    if (data.success) {
                        alert(data.success);
                        window.location.href = "{% url 'home' %}";
                    } else if (data.error) {
                        alert('Error: ' + data.error);
                    } else if (data.errors) {
                        var errors = JSON.parse(data.errors);
                        var errorString = '';
                        for (var field in errors) {
                            errorString += field + ': ' + errors[field][0].message + '\n';
                        }
                        alert(errorString);
                    }
                },
                error: function (data) {
                    alert('An error occurred.');
                }
            });
        });
    });
</script>
{% endblock %}
