{% extends 'base.html' %}
{% block head %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    .table th{
      font-family: 'Roboto Slab', serif;
    };
  .table td{
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
  }
  </style>
{% endblock%}
{% block content %}
<h1>Transactions</h1>
    <div class="row">
      <div class="col-md-2 mb-3 ">
        <a href="javascript:void(0);"
          class="btn btn-outline-primary"
          id="tranadd">Add Transaction</a>
      </div>
      <div class="col-md-6">
         
        <form class="form-inline">
          <div class="form-group mb-2">
            <label for="start-date" >From</label>
            <input  type="date" id="start-date" name="start-date" class="form-control" >
          </div>
          <div class="form-group mb-2">
            <label for="end-date" >To</label>
            <input type="date" id="end-date"  name="end-date" class="form-control">
          </div>
          <button  class="btn btn-secondary mb-2" id="filter-btn">Filter</button>
        </form>
        
      </div>
    </div>
    
    <div id="transdiv" style="overflow-x: auto;"></div>
   </div>

 
  <script defer>
    $("#filter-btn").click(function() {
      $("form").submit(function(e){
        e.preventDefault();
    });
      var startDate = $("#start-date").val();
      var endDate = $("#end-date").val();
      $("tbody tr").hide();
      $("tbody tr[date]").each(function() {
        var date = $(this).attr("date");
        if (date >= startDate && date <= endDate) {
          $(this).show();
        }
      });
    });
 
    function loadtransaction() {
     

      $.ajax({
        url: "{% url 'transaction_list' %}",
        dataType: "json",
        success: function (data) {
          $('table').remove();
          var table = $('<table>').addClass('table');
    
          var thead = $('<thead>');
          var tr = $('<tr>').addClass('h5');
          tr.append($('<th width="70">').text(' '));
          tr.append($('<th>').text('Name'));
          tr.append($('<th>').text('Amount'));
          tr.append($('<th>').text('Category'));
          thead.append(tr);
          table.append(thead);
    
          var tbody = $('<tbody class="h5 text-capitalize">');
          for (var i = 0; i < data.transactions.length; i++) {
            var transaction = data.transactions[i];
            var tr = $('<tr>').attr('date', transaction.date);
            // add red color and '-' symbol for expenses
            if (transaction.transaction_type === 'expense') {

              tr.append($('<td>').html(`<img height="30" width="30" src="https://api.dicebear.com/6.x/icons/svg?seed=${transaction.category__name}&backgroundType=solid&backgroundColor=ce93d8"> <span class="text-danger">${transaction.name}</span>`));
              tr.append($('<td>').html(`<span class="text-danger">-${transaction.amount}</span>`));
              tr.append($('<td>').html(`<span class="text-danger">${transaction.category__name}</span>`));
            } 
            else if (transaction.transaction_type === 'income') {
              tr.append($('<td>').html(`<img height="30" width="30" src="https://api.dicebear.com/6.x/icons/svg?seed=${transaction.category__name}&backgroundType=gradientLinear&backgroundColor=ef9a9a"> <span class="text-success">${transaction.name}</span>`));
              tr.append($('<td>').html(`<span class="text-success">+${transaction.amount}</span>`));
              tr.append($('<td>').html(`<span class="text-success">${transaction.category__name}</span>`));
            } 
            else {
              tr.append($('<td>').text(transaction.name));
              tr.append($('<td>').text(transaction.amount));
              tr.append($('<td>').text(transaction.category__name));
            }
    
            var actionHtml = `
              <a href="/${transaction.pk}/update/" class="text-primary h4 d-none"><i class="bi bi-pencil-square"></i></a>
              <a a href="javascript:void(0)" onclick="confirmDelete('${transaction.pk}')" class="text-danger h4 d-none"><i class="bi bi-trash"></i></a>
            `;
            tr.prepend($('<td>').html(actionHtml));
    
            // show action icons on hover
            tr.hover(
              function () {
                $(this).find('td:first-child a').removeClass('d-none');
              },
              function () {
                $(this).find('td:first-child a').addClass('d-none');
              }
            );
    
            tbody.append(tr);
          }
          table.append(tbody);
          $('#transdiv').html(table);
        }
      });
    };
    
    function confirmDelete(id) {
      // create a new div element for the confirmation dialog
      var confirmationDiv = $("<div>").addClass("modal fade")
        .attr("id", "confirmation-modal")
        .attr("tabindex", "-1")
        .attr("aria-labelledby", "confirmation-modal-label")
        .attr("aria-hidden", "true");
    
      // create the dialog elements
      var dialog = $("<div>").addClass("modal-dialog");
      var content = $("<div>").addClass("modal-content");
      var header = $("<div>").addClass("modal-header")
        .append($("<h5>").addClass("modal-title").attr("id", "confirmation-modal-label").text("Are you sure?"));
      var body = $("<div>").addClass("modal-body").text("This transaction will be deleted permanently.");
      var footer = $("<div>").addClass("modal-footer")
        .append($("<button>").addClass("btn btn-secondary").attr("data-bs-dismiss", "modal").text("Cancel"))
        .append($("<button>").addClass("btn btn-danger").text("Delete").on("click", function() {
          // send a DELETE request to the server to delete the transaction
          $.ajax({
            url: "/" + id + "/delete/",
            data:{'csrfmiddlewaretoken':'{{csrf_token}}' },
            type: "DELETE",
            success: function(data) {
              $("tr[data-transaction-id='" + id + "']").remove();
              $("#confirmation-modal").modal("hide");
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log("Error: " + textStatus);
            }
          });
        }));
    
      // assemble the dialog elements
      content.append(header).append(body).append(footer);
      dialog.append(content);
      confirmationDiv.append(dialog);
    
      // add the confirmation modal to the DOM
      $("body").append(confirmationDiv);
    
      // show the confirmation modal
      $("#confirmation-modal").modal("show");
    }


    $(document).ready(function () {
    
      loadtransaction();
      $("#filter-input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("table tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $('#tranadd').on('click', function(e) {
        var popup = window.open('{% url 'transaction_create' %}', '_blank', 'width=auto,height=500px');
        var interval = setInterval(function() {
          if (popup.closed) {
            clearInterval(interval);
            load_balance();
            loadtransaction();

          }
        }, 1000);
      });
      
   
    });
    $(document).on('click', '.delete-link', function(e) {
      $('table').remove();
      e.preventDefault();
      //{% csrf_token %}
      var csrf_token = '{{ csrf_token}}';
      var deleteUrl = $(this).attr('href');
      
      $.ajax({
        url: deleteUrl,
        type: 'DELETE',
        
        success: function(response) {
          load_balance();
          loadtransaction();
        },
        error: function(error) {
          load_balance();
          loadtransaction();
        }
      });
    });
    
  
  </script>

  {% endblock content %}
  