{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Transaction</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2344/2344132.png">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

  <div class="container">
  <h5 class="modal-title h1">Add Transaction</h5>
<hr>
      <form method="post" id="addtran">
       {% csrf_token %} 
       {{ form|crispy }}
         <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
  </div>

<script defer>
  $(document).ready(function() {
    $("#addtran").submit(function(e) {
      e.preventDefault();
      if (validateForm()) {
        $.ajax({
          url: "/create/",
          type: "POST",
          dataType: "json",
          data: $("#addtran").serialize(),
          success: function(data) {
             Swal.fire('Congrats', 'Added Successfully','success');
             setTimeout(function() { window.close();}, 2000);
          },
          error: function(data) {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
            });
            setTimeout(function() { window.close();}, 2000);

            

          }
        });
      }
    });
  });
  
  function validateForm() {
    var isValid = true;
    $("#addtran :input[required]").each(function() {
      if ($(this).val() === "") {
        $(this).addClass("is-invalid");
        isValid = false;
      } else {
        $(this).removeClass("is-invalid");
      }
    });
    return isValid;
  }
  
</script>
</body>
</html>

